{% extends "bbase.html" %}

{% block content %}
    <script language="javascript">
    function functionname(name)
    {
        window.location.href = "/addToPlaylist?id="+name;
    }
    </script>
    <div class="main">
        {% if user.is_anonymous %}
        <div>User Not Logged in</div>
        {% else %}
        <div>User Logged in</div>
        {% endif %}
        <!-- Posts  -->
        <table border="1" width="400">
            <tr>
                <td align="center">Song ID</td>
                <td align="center">Song Name</td>
                <td align="center">Dowanload Times</td>
                <td align="center">Add To Playlist</td>
            </tr>
            {% for post in posts.object_list %}                
                <tr>
                    <td align="center">{{ post.song_id }}</td>
                    <td align="center">{{ post.song_name }}</td>
                    <td align="center">{{ post.download_times }}</td>
                    {% if user.is_authenticated %}
                    <div>User Logged In</div>
                    <td align="center"><input type="submit" onclick="functionname({{ post.song_id }})" class="btn" value="Add" name={{ post.song_id }}></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <!-- Next/Prev page links  -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">Pervious Page &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; Next Page</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

{% endblock %}